.all-center
	display: flex
	justify-content: center
	align-items: center

.SecondPage
	width: 100%
	height: 100%

	.container
		max-width: 1440px
		margin: 0 auto
		padding: 0 15px
		box-sizing: border-box
		height: 100vh
		@extend .all-center

		.box
			width: 100%
			max-width: 380px
			margin: 0 auto

			.logo
				display: block
				margin: 0 auto

			.title
				font-style: normal
				font-weight: normal
				font-size: 24px
				line-height: 18px
				align-items: center
				text-align: center
				color: rgba(0, 0, 0, 0.87)
				margin-top: 15px

			.form
				display: flex
				width: 100%
				flex-direction: column
				margin-top: 35px

				.boxInput
					position: relative
					width: 100%
					margin-bottom: 20px

					.email, .password
						border: 1px solid rgba(0, 0, 0, 0.36)
						box-sizing: border-box
						border-radius: 4px
						height: 56px
						width: 100%
						padding: 18px 14px
						font-weight: normal
						font-size: 16px
						line-height: 19px
						color: rgba(0, 0, 0, 0.36)
						
						&:hover
							border: 1px solid rgba(0, 0, 0, 0.87)

				.checkbox
					display: flex
					align-items: center
					margin-bottom: 35px

					.checkboxLabel
						display: flex
						align-items: center
						font-weight: normal
						font-size: 16px
						line-height: 19px
						color: rgba(0, 0, 0, 0.87)

						.checkboxInput
							display: none

							&:checked + .checkboxIcon
								background: #2196F3
								border: 2px solid #2196F3
								@extend .all-center

							&:checked + .checkboxIcon:after
								content: '' 
								display: inline-block
								width: 6px
								height: 11px
								border: solid #eeeeee
								border-width: 0 2px 2px 0
								transform: rotate(45deg)
								margin-bottom: 3px

						.checkboxIcon
							position: relative
							display: inline-block
							width: 18px
							height: 18px
							background: #ffffff
							border: 2px solid rgba(0, 0, 0, 0.54)
							border-radius: 3px
							box-sizing: border-box
							margin-right: 13px
							cursor: pointer						
							&:before
								pointer-events: none
								opacity: 0
								transition: opacity 0.3s
								position: absolute
								top: -15px
								left: -15px								
								display: inline-block
								content: ''
								width: 44px
								height: 44px								
								border-radius: 50%
								background: rgba(33, 150, 243, 0.1)
							&:hover::before
								opacity: 1
								transition-delay: .3s
				
								
								


			.btn
				box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 
				0px 3px 4px rgba(0, 0, 0, 0.12),
				0px 2px 4px rgba(0, 0, 0, 0.14)
				background: #2196F3
				border-radius: 4px
				border: none
				height: 38px
				font-weight: 500
				font-size: 14px
				color: #FFFFFF
				cursor: pointer
				transition: background 0.3s

				&:hover
					background: #2F80ED

			.boxLink
				display: flex
				justify-content: space-between
				flex-wrap: wrap
				width: 100%
				margin-top: 15px

				.forget, .registration
					font-weight: normal
					font-size: 14px
					line-height: 18px
					color: #2196F3
					text-decoration: none

					&:hover
						text-decoration: underline

			.copyright
				font-weight: normal
				font-size: 14px
				line-height: 18px
				text-align: center
				color: rgba(0, 0, 0, 0.54)
				margin-top: 65px


		
