.container
	height: 100vh
	max-width: 380px
	margin: 0 auto

	.title
		font-style: normal
		font-weight: normal
		font-size: 24px
		line-height: 18px
		text-align: center
		color: rgba(0, 0, 0, 0.87)
		margin: 15px 0 0 0

	.email
		box-sizing: border-box
		border-radius: 4px
		height: 56px
		font-style: normal
		font-weight: normal
		font-size: 16px
		line-height: 19px
		color: rgba(0, 0, 0, 0.36)
		background-color: #ffffff
		margin-top: 25px

	.button
		height: 38px
		background-color: #2196F3
		border-radius: 4px
		color: #ffffff
		margin-top: 35px
		font-style: normal
		font-weight: 500
		font-size: 14px
		line-height: 24px
		text-transform: none
		box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2),
		0px 3px 4px rgba(0, 0, 0, 0.12),
		0px 2px 4px rgba(0, 0, 0, 0.14)

	.boxLink
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		width: 100%
		margin-top: 15px

		.link
			font-style: normal
			font-weight: normal
			font-size: 14px
			line-height: 18px
			display: flex
			align-items: center
			color: #2196F3
	
	.copyright
		font-style: normal
		font-weight: normal
		font-size: 14px
		line-height: 18px
		text-align: center
		color: rgba(0, 0, 0, 0.54)
		margin-top: 65px
